body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 0;
}

.container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.packages,
.order,
.results {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.results {
  border-bottom: none;
}

input {
  padding: 5px;
  width: 100px;
}

button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.full-width-btn {
  width: 100%;
  background-color: #ee930a;
  color: white;
  border: none;
  padding: 10px 0;
  font-size: 26px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.full-width-btn:hover {
  background-color: #804b0e;
}

.swagger-btn {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.swagger-btn:hover {
  background-color: #27ae60;
}

#swagger-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#swagger-modal.open {
  display: flex;
}

.swagger-content {
  position: relative;
  width: 80%;
  height: 80%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  z-index: 1001;
}

#swagger-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.package-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px 0;
}

.package-item input {
  width: 100px;
}

